.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.footHere {
  font-size: 24px;
  line-height: 24px;
  font-weight: 800;
  color: rgb(40, 46, 51);
  margin: 0px 0px 60px;
  text-align: center;
}
.cardFooter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  max-width: 311px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.fotterPcard {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(40, 46, 51);
  margin: 0px 0px 16px;
  text-align: center;
}
.fotterPcardSub {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgb(67, 79, 90);
  text-align: center;
}
