.header{
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    width: 90%;
    
    vertical-align: middle;
    margin: auto;
}



.logo img {
    height: 25px;
    width: 80px;
}