<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="footer.css">
</head>

<body>
    <div class='home_sub1_main'>

        <p class='sub1_p'>
            Here’s why you’ll love ACKO
        </p>

        <div class='home_sub2'>

            <div class='home_sub_child2'>
                <div><img src="./image/fir.svg" style="height: 120px; width: 120px; margin-bottom: 28px;"></img>
                </div>
                <h3>Incredibly low premiums</h3>
                <div class="vindi""> Insuring things that matter to you shouldn't come
                    at a cost. That's why when you buy from us, you get insurance that fits your pocket.</div>
            </div>


            <div class='home_sub_child2'>
                <div><img src=" image/sec.svg" style="height: 120px; width: 120px; margin-bottom: 28px;"></img></div>
                <h3>Incredibly low premiums</h3>
                <div class="vindi">Insuring things that matter to you shouldn't come at
                    a cost. That's why when you buy from us, you get insurance that fits your pocket.</div>
            </div>

            <div class='home_sub_child2'>
                <div><img src="image/thi.svg" style="height: 120px; width: 120px; margin-bottom: 28px;"></img></div>
                <h3>Incredibly low premiums</h3>
                <div class="vindi">Insuring things that matter to you shouldn't come at
                    a cost. That's why when you buy from us, you get insurance that fits your pocket.</div>
            </div>

        </div>
    </div>

    <div class="footerMid">
        <div class="mid12">
            <h3>ACKO General Insurance Limited</h3>
            <small>2nd Floor, #36/5, Hustlehub One East, Somasandrapalya, 27th Main road, Sector 2, HSR Layout,
                Bengaluru, Karnataka - 560102</small>
            <br><br><br><br>
            <div class="soc">We’re socially active!</div>
            <br>
            <div>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>
            </div>
            
        </div>
        <div class="list">
            <div class="vilist">
                <div>
                    <ul>
                        <li>
                            <h3>Company</h3>
                        </li>
                        <li>About us</li>
                        <li>Board of directors</li>
                        <li>Careers</li>
                        <li>Media kit</li>
                        <li>Articles</li>
                        <li>Ackology - The tech blog</li>
                        <li>Partnerships</li>
                        <li>Sitemap</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <h3>Support</h3>
                        </li>
                        <li>Cancellations & refunds</li>
                        <li>Customer service</li>
                        <li>Downloads</li>
                        <li>Unclaimed amount</li>
                        <li>IRDAI website</li>
                        <li>Other Products</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <h3>Legal</h3>
                        </li>
                        <li>Whistleblower policy</li>
                        <li>Public disclosure</li>
                        <li>Financials & disclosures</li>
                        <li>Privacy policy</li>
                        <li>terms & conditions</li>
                        <li>Offer terms & conditions</li>
                        <li>Stewardship code</li>
                        <li>Disclaimer</li>
                        <li>Anti fraud policy</li>
                        <li>Health underwriting philosophy</li>
                        <li></li>
                    </ul>
                </div>
            </div>
           
            <div>
                <h2 class="sechead">Articles on insurance</h2>
            </div>
            <div class="vilist2">

                <div>
                    <ul>
                        <li>
                            <h3>General articles</h3>
                        </li>
                        <li>Insurance sector in India</li>
                        <li>Types of insurance</li>
                        <li>Updated list of traffic rules and fines</li>
                        <li>About your vehicle number</li>
                        <li>What is a PUC certificate?</li>
                        <li>Vehicle registration & re-registration</li>
                        <li>New vehicle registration process</li>
                        <li>Temporary vehicle registration number</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <h3>Car insurance articles</h3>
                        </li>
                        <li>Motor insurance</li>
                        <li>Car insurance comparison</li>
                        <li>Third party vs comprehensive</li>
                        <li>Car insurance premium calculator</li>
                        <li>IDV in car insurance</li>
                        <li>Car insurance claims</li>
                        <li>Car insurance claim settlement ratio</li>
                        <li>Car insurance: Add-on covers</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>
                            <h3>Two-Wheeler insurance articles</h3>
                        </li>
                        <li>IRDAI rules for two wheeler insurance</li>
                        <li>Two wheeler insurance comparison</li>
                        <li>Third party vs comprehensive</li>
                        <li>Bike insurance premium calculator</li>
                        <li>IDV in bike insurance</li>
                        <li>Two wheeler insurance claims</li>
                        <li>Two wheeler claim settlement ratio</li>
                        <li>Two wheeler insurance: Add-on covers</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: ghostwhite; width: 98%; margin: auto auto; margin-top: 10px;">
        <div style="margin-bottom: 6px;">
            <span style="margin-left: 1px;"><small>CIN: U66000KA2016PLC138288</small></span>
            <span style="margin-left: 15px;"><small>IRDAI Registration No: 157</small></span>
            <span style="margin-left: 15px;"><small>Category: Non-Life Insurance</small></span>
        </div>

        <small>The use of images and brands are only for the purpose of indication and illustration. ACKO claims no
            rights on the IP rights of any third parties. The ratings are derived from reviews and feedback received
            from Google and Facebook users on their respective platforms. | *Savings of upto Rs. 50,000 have been
            calculated on the IDV of Rs. 18,00,000 and 0% NCB. Amount saved is in comparison to tariff rates. Product
            name: Private Car Policy - Bundled | UIN: IRDAN157RP0014V01201819 |

            Trade logo displayed above belongs to ACKO Technology & Services Pvt Ltd and used by ACKO General insurance
            Limited under License. For more details on risk factors, terms, conditions and exclusions, please read the
            policy wordings carefully before concluding a sale.</small>
    </div>
</body>

</html>